*{
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;

}
.card-img {
  display: flex;
  flex-direction: column;
  min-height: 150vh;
}
.content{
  background-color: black;
}
#Header a:hover{
  color: white;
  transition: 0.5s;
}
.card-img-overlay{
  text-align: center;
  margin-top: 100px;
}
.fa{
  float: right;
}

#About span {
padding: 10px 20px 10px 20px;
}
#projects{
  /* background: black; */
}
#projects span {
  padding: 10px 20px 10px 20px;
}
.play-btn {
  width: 50px;
  position: absolute;
  top: 50%;
  left: 42%;
  cursor: pointer;
  transition: 0.5s;
  opacity: 0;
}
.col-md:hover .play-btn{
  opacity:1;
}

@media only screen and (max-width: 600px)
 {
   .text-info {
     align-items: center !important;
   }
 h1 {
     padding-top: 0 !important;
   }
 }
