:root {
  --animate-duration: 9s;
  --animate-delay: 0.9s;
}

body{

}

#Header a:hover{
  color: white;
}
.card-img-overlay{
  text-align: center;
  margin-top: 100px;
}
.fa{
  float: right;
}

#Bio{
  margin-top: -160px;
}

#Bio span {

  padding: 10px 20px 10px 20px;

}
