*{
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;

}
.card-img {
  display: flex;
  flex-direction: column;
  min-height: 99vh;
}
.content{
  background-color: rgba(44,43,48,0.8);
}
#Header a:hover{
  color: white;
  transition: 0.5s;
}
.card-img-overlay{
  text-align: center;
  margin-top: 100px;
}
.float{
  float: right;
}
.link{
  margin-top: 50px;
}
.email-link{
    border: 1px solid #48B8A5;
    padding: 1.20rem 1.70rem;
    cursor: pointer;
    margin-top: 50px;
    font-size: 1.3em;
}
.section-wrapper {
    display: flex;
    justify-content: space-evenly;
    text-align: justify;
    padding: 6vw 10vw 0;
}
.development-icons{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
  padding-top: 0.5em;
  background-color: white;
}
.development-icons i{
  width: 1.8em;
  font-size: 4em;
  padding: 0.3em;
  margin: 0 auto;
}
.development-icons div:hover {
  background: linear-gradient(to right, rgb(177, 91, 218), rgb(230, 189, 75), rgb(46, 170, 253), #00b7c7, #B294FF, #57E6E6);
  background-size: 500% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient 2s linear infinite;

}
.development-icons p {
  margin: 0.5em auto;
  font-size: 1em;

}

.development-icons div {
  margin: 1.2em;
}
.email-link:hover{
  text-decoration: none;
  background-color: rgba(100,255,218,0.1);
}
#About span {
padding: 10px 20px 10px 20px;
}
#projects{
  /* background: black; */
}
#projects span {
  padding: 10px 20px 10px 20px;
}
.play-btn {
  width: 50px;
  position: absolute;
  top: 50%;
  left: 42%;
  cursor: pointer;
  transition: 0.5s;
  opacity: 0;
}
.col-md:hover .play-btn{
  opacity:1;
}
